@use 'variables' as *;

:root {
  font-family: $font-family;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: $text-white;
  background-color: $dark-bg;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

a {
  font-weight: 500;
  color: $primary-red;
  text-decoration: inherit;
  transition: color $standard-transition;

  &:hover {
    color: $secondary-red;
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color $standard-transition;

  &:hover {
    border-color: $primary-red;
  }
}
