@use '../../styles/variables' as *;

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.mainContent {
  flex: 1;
  padding-top: 80px; // Padding for fixed header
  margin: 0 auto;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
