@use '../../styles/variables' as *;

.rosterPage {
  min-height: 100vh;
  color: #fff;
  padding: 0.5rem;
  background-attachment: fixed;
}

.header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0px;
}

.brandContainer {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  gap: 15px; // Ensure gap between columns
}

.championsSection {
  margin-bottom: 15px;
  width: 100%;
}

.rosterGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  width: 100%;
}
