.detailsPage {
  padding: 1rem;
  font-family: "Outfit", sans-serif;
  overflow-x: hidden;
  height: 88vh;
}

.header {
  margin-bottom: 0.5rem;
}

.backButton {
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  padding: 0.8rem 1.5rem;
  text-decoration: none;
  font-weight: 600;
  border-radius: 10px;
  transition: background 0.2s;
  font-size: 0.9rem;

  &:hover {
    background: rgba(255, 255, 255, 0.2);
  }
}

.mainContent {
  display: flex;
  gap: 4rem;
  align-items: flex-start;
  position: relative;
  height: 75vh;
}

/* LEFT COLUMN */
.leftColumn {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portraitWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 2rem;
}

.mainImage {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  filter: drop-shadow(0 0 30px rgba(var(--brand-primary), 0.3));
}

.imagePlaceholder {
  font-size: 10rem;
  opacity: 0.2;
}

.basicInfo {
  text-align: center;
  width: 100%;
}

.wrestlerName {
  font-size: 2.5rem;
  text-align: center;
  max-lines: 1;
  font-weight: 900;
  margin: 0;
  font-style: italic;
  color: var(--brand-primary);
  text-shadow: 2px 2px 0px rgb(255, 255, 255);
  line-height: 1;
}

.factionName {
  font-size: 1.2rem;
  color: var(--brand-primary);
  font-style: italic;
  margin: 0.5rem 0 2rem 0;
  font-weight: 600;
}

.titlesContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.titleItem {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}

.titleLogo {
  width: 100px;
  height: auto;
  object-fit: contain;
}

.titleName {
  font-size: 1rem;
  font-weight: 800;
  max-lines: 1;
  font-style: italic;
  color: #fff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}

/* DIVIDER */
.verticalDivider {
  width: 6px;
  background-color: var(--brand-primary);
  height: auto;
  align-self: stretch;
  border-radius: 10px;
  box-shadow: 0 0 15px var(--brand-primary);
}

/* RIGHT COLUMN */
.rightColumn {
  flex: 1;
}

.actionHeader {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 0.25rem;
}

.editButton {
  height: 70px;
  width: 160px;
  background: transparent;
  border: 4px solid var(--brand-primary);
  color: #fff;
  text-align: center;
  font-weight: 800;
  font-style: italic;
  cursor: pointer;
  border-radius: 12px;
  transition: all 0.2s;
  box-shadow: 0 8px 0 rgba(var(--brand-primary), 0.3);

  &:hover {
    background: var(--brand-primary);
    border: 4px solid #fff;
    transform: translateY(-2px);
  }

  &:active {
    transform: translateY(4px);
  }
}

.sectionTitle {
  font-weight: 800;
  font-style: italic;
  color: var(--brand-primary);
  text-decoration: underline;
  text-decoration-color: var(--brand-primary);
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
  padding-top: 1rem;
}

.statsGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem 2rem;
}

.statItem {
  display: flex;
  flex-direction: column;
}

.statLabel {
  font-size: 0.8rem;
  font-weight: 800;
  color: #666;
}

.statValue {
  font-size: 1.5rem;
  font-weight: 800;
  font-style: italic;
  color: #fff;
}

/* FORM */
.editForm {
  background: #111;
  padding: 0.4rem 1rem;
  border-radius: 20px;
  border: 4px solid #222;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.8);
}

.formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.3rem;

  label {
    font-size: 0.8rem;
    font-weight: 800;
    margin-bottom: 0.2rem;
    color: var(--brand-primary);
  }

  input,
  select {
    background: #222;
    border: 2px solid #333;
    padding: 0.5rem;
    color: #fff;
    font-size: 1rem;
    border-radius: 8px;
    font-weight: 700;

    &:focus {
      outline: none;
      border-color: var(--brand-primary);
    }
  }

  .multiSelect {
    height: 115px;
    padding: 0.5rem;
  }
}

.saveButton {
  width: 100%;
  background: var(--brand-primary);
  border: 3px solid #222;
  color: #fff;
  padding: 0.3rem;
  font-size: 1rem;
  font-weight: 800;
  font-style: italic;
  cursor: pointer;
  border-radius: 15px;
  transition: all 0.3s;

  &:hover {
    background: green;
    border-color: #fff;
  }
}

.placeholderText {
  color: #444;
  font-size: 1rem;
  font-style: italic;
  font-weight: 700;
}

.loading,
.error {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 800;
  background: #000;
  color: #fff;
}
